@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center " >
	<h1 class="display-4 mb-4">This is an API project</h1>

</div>
<div class="position-relative">
	<a style="color:white" class="btn btn-primary" asp-controller="Person" asp-action="Index">Person</a>
	<a  style="color:white" class="btn btn-primary" asp-controller="Department" asp-action="Index">Department</a>
	<a  style="color:white" class="btn btn-primary" asp-controller="Salary" asp-action="Index">Salary</a>
</div>